.lsn-head {
    width: 100%;
    margin-top: 8px;
    padding: 8px;
    background-color: gray;
    border-radius: 0%;
}
.lsn-data {
    width: 100%;
    padding: 8px;
    background-color: lightgray;
}
.lsn {
    display: block;
}